body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.books-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}

.book-list {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  line-height: 200%;
  width: 100%;
}

.book-row-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  background-color: #f1f1f1;
}

.main-title {
  font-size: 35px;
  font-weight: 400;
}

.book-row-content:nth-child(even) {
  background-color: rgb(225, 225, 225);
}

.delete {
  border: none;
  cursor: pointer;
  height: 20px;
  width: 70px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.guide-bar {
  width: 150px;
  height: 15px;
  border-bottom: 1px solid rgb(211, 209, 209);
  margin: 0 auto 30px;
}

.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-top: 40px;
}

.add-book-title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 0;
}

.title-input {
  height: 30px;
  width: 420px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.author-input {
  height: 30px;
  width: 420px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.add-book-button {
  border: none;
  height: 30px;
  width: 70px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  cursor: pointer;
  position: relative;
  left: 180px;
}
